/*ini adalah style utama*/
@font-face {
    font-family: 'TypoRoundLight';
    src: url('../fonts/Typo_Round_Light_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    /*sebenarnya saya sempat stuck disini hanya karena salah dalam atribut format,saya menuliskan otf bukannya opentype*/
}

body {
    font-family: 'TypoRoundLight', sans-serif;
    background-image: url('../assets/bg_news.svg');
    margin: 0.5in;
}
h2 {
    text-align: center;
}
/*ini adalah akhir style uatama*/

/*ini adalah style bagian header*/
header {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bg_news.svg');
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.logo img {
    height: 30px;
    width: 100%;
    margin: 10px;
}
.navigation {
    display: flex;
    align-items: center;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}
.navigation nav a {
    color:white;
    margin: 5px;
    text-decoration: none;
}
.navigation nav a:hover {
    color: #ff187f;
    margin: 5px;
    text-decoration: none;
}
 /*ini adalah akhir header*/

/*ini adalah style konten utama*/
.about {
    background-color: #ff187f;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    
}
.about h2, .about p {
    color: rgb(255, 255, 255);
}
.borderabout {
    border: 1px solid white;
    padding: 10px;
}
.main-content {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column-reverse;
}
/*ini adalah style header conten*/
.header-content {
    background-color: rgb(55, 55, 55);
    color: white;
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    overflow: hidden;
}

/*ini adalah style content 1*/
.content {
    background-color: white;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
article {
    color: rgb(55, 55, 55);
    text-align: center;
}
.allnews {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
article .news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/bg_news.svg);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
article .news a {
    display: flex;
    color: black;
    text-decoration: none;
}
.newslink {
    display: flex;
}
article .news a:hover {
    color: #ff187f;
}
.date {
    color: #ff187f;
    margin-right: 10px;
}
/*ini adalah member*/
.member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.membercard {
    display: flex;
    flex-direction: row;
    background-image: url(../assets/bg_talent.png);
    padding: 10px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
}
.membercard:hover {
    border: 1px solid rgb(255, 24, 127);
    background: linear-gradient(rgba(255, 24, 127, 0.1), rgba(255, 24, 127, 0.1)), url('../assets/bg_talent.png');
}
.iconmemberhanon img {
    height: 50px;
    width: 50px;
    background-color: #79b5ff;
    border-radius: 50%;
}
.iconmemberkotoha img {
    height: 50px;
    width: 50px;
    background-color: #d1e4b0;
    border-radius: 50%;
}
.iconmembervav img {
    height: 50px;
    width: 50px;
    background-color: #a64095;
    border-radius: 50%;
}
.iconmemberwasurenamiyu img {
    height: 50px;
    width: 50px;
    background-color: #d3a7da;
    border-radius: 50%;
}
.iconmemberkikyouhimeno img {
    height: 50px;
    width: 50px;
    background-color: #e0d2b1;
    border-radius: 50%;
}
.iconmemberaomihikaru img {
    height: 50px;
    width: 50px;
    background-color: #6a83a5;
    border-radius: 50%;
}
.iconmemberzashikiwarabi img {
    height: 50px;
    width: 50px;
    background-color: #b0de4a;
    border-radius: 50%;
}
.iconmemberkakyoinpapiko img {
    height: 50px;
    width: 50px;
    background-color: #af436f;
    border-radius: 50%;
}
.iconmembertouka img {
    height: 50px;
    width: 50px;
    background-color: #e4aa55;
    border-radius: 50%;
}
.iconmemberhanaarare img {
    height: 50px;
    width: 50px;
    background-color: #c1b6e8;
    border-radius: 50%;
}
.membercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membercontent img {
    width: 200px;
}
/*ini adalah bagian form*/
.content-form {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    
}
.form-group {
    display: flex;
    flex-direction: column;
}
textarea, input, select {
    background-color: #ff187f;
    border: none;
    resize: none;
    color: white;
    font-family: inherit;
    padding: 10px;
    border-radius: 10px;
    overflow-y: hidden; /*ini digunakan untuk menghilangkan scrolbar ketika input text melebihi ukuran textarea*/
}
textarea:focus, input:focus, select:focus {
    outline: none;
    background-color: #ff187f;
}
.form-group select option:hover {
    background-color: #ff187f;
    color: #ff187f;
}

button {
    background-color: #ff187f;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
}

/*ini adalah konten gambar bergulir, saya melihat tutorial*/
.konten-gulir {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.isi-gulir {
    display: flex;
    animation: scroll 10s linear infinite;
    width: 200%;
}
.isi-gulir img {
    width: 50%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-50%)
    }
    60% {
        transform: translateX(-50);
    }
    80% {
        transform: translateX(-50%);   /*apakah algoritma ini sudah benar? ditutorial dicontohkan dengan 3 gambar yang ketika telah bergulir ke gambar terakhir, lalu saat kembali ke gambar pertama tidak ada animasinya*/
    }
    100% {
        transform: translateX(0);
    }
}

/*ini adalah bagian footer*/
.footer {
    background-color: rgb(55, 55, 55);
    color: gray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer img {
    height: 20px;
    width: 100%;
    margin-top: 20px;
}
.footer p a {
    color: gray;
}
.footer p a:hover {
    color: #ff187f;
}


/*ini bagian buat display di desktop & mobile, */
@media( min-width: 1080px) {
    .main-content {
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: row;
    }


    .konten-gulir {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
    }
    .isi-gulir {
        display: flex;
        animation: scroll 10s linear infinite;
        width: 200%;
        height: auto;
    }
    .isi-gulir img {
        width: 50%;
        height: auto;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(0);
        }
        40% {
            transform: translateX(-50%)
        }
        60% {
            transform: translateX(-50);
        }
        80% {
            transform: translateX(-50%);   /*apakah algoritma ini sudah benar? ditutorial dicontohkan dengan 3 gambar yang ketika telah bergulir ke gambar terakhir, lalu saat kembali ke gambar pertama tidak ada animasinya*/
        }
        100% {
            transform: translateX(0);
        }
}