@font-face {
    font-family: 'TypoRoundLight';
    src: url('../fonts/Typo_Round_Light_Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'TypoRoundLight', sans-serif;
    /*background-image: url(../assets/bg/bg_news.svg);*/
    background-color: white;
    margin: 0px;
    background-image: url(../assets/bg/bg_news.svg);
}
.container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}
.Tittle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ff187f;
    color: white;
}
h2 {
    padding: 50px;
}
/*ini adalah style untuk navbar*/
header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    padding: 10px;
}
.logo img {
    height: 30px;
    width: 100%;
    margin: 10px;
}
.navigation {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.navigation nav a {
    color:black;
    margin: 5px;
    text-decoration: none;
    transition: color 0.5s ease;
}
.navigation nav a:hover {
    color: #ff187f;
    margin: 5px;
    text-decoration: none;
}
/*ini adalah akhir dari style navbar*/

/*ini adalah style banner*/
.banner {
    margin: 0px;
    padding: 0px;
    height: auto;
    display: flex;
    justify-content: start;
    background-color: white;
    border-radius: 20px;
}
.slider {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}
.slides {
    width: 200%;
    height: auto;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    transition: 2s;
    width: 50%;
}
.slide img {
    max-width: 100%;
    height: auto;
}
#radio1:checked ~ .pertama {
    margin-left: 0%;
}
#radio2:checked ~ .pertama {
    margin-left: -50%;
}


/*ini adalah akhir dari style banner*/

/*ini adalah style untuk konten utama*/

.about {
    background-color: #ff187f;
    padding: 50px;
    border-radius: 20px;
}
.borderabout {
    border: 1px solid white;
    color: white;
    padding: 10px;
}
article {
    color: rgb(55, 55, 55);
    text-align: center;
}
.allnews {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.allnews a {
    text-decoration: none;
}
article .news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: box-shadow 0.5s ease;
}
article .news:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
article .news p, article .news a {
    display: flex;
    color: black;
    text-decoration: none;
}
.newslink {
    display: flex;  
}
.allnews .news .date p {
    color: #ff187f;
    margin-right: 10px;
}

/*ini adalah akhir sary style konten utama*/

/*ini adalah style untuk form*/
.order-container {
    min-width: min-content;
    display: flex;
    justify-content: start;
    margin-left: 20px;
}
.orderbg {
    display: flex;
    flex-direction: column;
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.4)), url(../assets/img/117035426_p0_master1200.jpg);
    justify-content: center;
    background-repeat: repeat-x;
    background-position: 50% 0%;
    border-radius: 20px;
}
.orderbg div h3 {
    text-align: center;
    color: white;
    margin: 50px;
    margin-bottom: 35px;
}
.form {
    margin: 50px;
    margin-top: 0px;
}
.form-group {
    display: flex;
    flex-direction: column;
    max-width: inherit;
    color: white;
    resize: none;
    border: none;
}
textarea, input, select {
    background-color: rgba(255,255,255,0.1);
    color: white;
    resize: none;
    border: none;
    font-family: inherit;
    padding: 10px;
    overflow-y: hidden;
}
textarea:focus, input:focus, select:focus {
    outline: none;
    background-color: rgba(255,255,255,0.1);
    border: none;
}
.form-group button {
    background-color: rgba(255,255,255,0.8);
    color: black;
    resize: none;
    border: none;
    font-family: inherit;
    padding: 10px;
}
.form-group button:focus {
    background-color: rgba(255,255,255,0.1);
    color: white;
    resize: none;
    border: none;
    font-family: inherit;
    padding: 10px;
}
.form-group select option {
    color: black;
}
/*ini adalah akhir dari style form*/

/*ini adalah style footer*/
.footer {
    background-color: rgb(20, 20, 20);
    color: gray;
    padding: 20px;
    text-align: center;
}
.footer img {
    height: 20px;
    width: 100%;
    margin-top: 20px;
}
.footer p a {
    color: gray;
    transition: color 0.5s ease;
}
.footer p a:hover {
    color: #ff187f;
}

/*responsive*/
@media ( max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .order {
        width: 100%;
    }
    .order-container {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
    }
}